body {
    padding-top: 50px;
}

@font-face {
    font-family: 'iconfont';  /* project id："180873" */
    src: url('//at.alicdn.com/t/font_ced0toj4wi6swcdi.eot');
    src: url('//at.alicdn.com/t/font_ced0toj4wi6swcdi.eot') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_ced0toj4wi6swcdi.woff') format('woff'),
    url('//at.alicdn.com/t/font_ced0toj4wi6swcdi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_ced0toj4wi6swcdi.svg#iconfont') format('svg');
}

.index-iconfont-lg {
    font-family: "iconfont";
    font-size: 50px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}

.index-iconfont-md {
    font-family: "iconfont";
    font-size: 40px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}

.index-iconfont-sm {
    font-family: "iconfont";
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}

.index-iconfont-xs {
    font-family: "iconfont";
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}

.white-divider-xs, .white-divider-sm, .white-divider-md, .white-divider-lg .white-divider-xl {
    height: 1px;
    overflow: hidden;
}

/*无色分割线 start*/
.white-divider-xs {
    margin: 3px 0;
}

.white-divider-sm {
    margin: 5px 0;
}

.white-divider-md {
    margin: 7px 0;
}

.white-divider-lg {
    margin: 9px 0;
}

.white-divider-xl {
    margin: 20px 0;
}

/*无色分割线 end*/
.divider-xs {
    height: 2px;
    margin: 9px 0;
    background-color: #e5e5e5
}

.pic-align-center {
    clear: both;
    display: block;
    margin: auto;
}

.pic-align-left {
    display: inline;
    float: left;
}

.pic-align-right {
    display: inline;
    float: right;
}

.input-check {
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
}

.index-bg-top {
    background: url("../images/index/background.jpg");
    background-size: cover;
    margin: 0;
}

.index-bg-bottom {
    background: url("../images/index/background_bottom.jpg");
    background-size: cover;
    margin: 0;
    padding-bottom: 0;
}

.index-bg-gray {
    margin: 0;
}

.index-bg-white {
    background-color: #FFFFFF;
    margin: 0;
}

.index-bg-black {
    background-color: #000000;
    margin: 0;
}

.font-shadow-black {
    color: black;
    text-shadow: #fff 2px 2px 2px;
}

.font-shadow-white {
    color: white;
    text-shadow: #000 2px 2px 2px;
}