<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="mybatis.pojo.City" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cityID" property="cityid" jdbcType="INTEGER" />
    <result column="cityName" property="cityname" jdbcType="VARCHAR" />
    <result column="provinceID" property="provinceid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cityID, cityName, provinceID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CITY
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CITY
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mybatis.pojo.City" >
    insert into CITY (id, cityID, cityName, 
      provinceID)
    values (#{id,jdbcType=INTEGER}, #{cityid,jdbcType=INTEGER}, #{cityname,jdbcType=VARCHAR}, 
      #{provinceid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mybatis.pojo.City" >
    insert into CITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cityid != null" >
        cityID,
      </if>
      <if test="cityname != null" >
        cityName,
      </if>
      <if test="provinceid != null" >
        provinceID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=INTEGER},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null" >
        #{provinceid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mybatis.pojo.City" >
    update CITY
    <set >
      <if test="cityid != null" >
        cityID = #{cityid,jdbcType=INTEGER},
      </if>
      <if test="cityname != null" >
        cityName = #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null" >
        provinceID = #{provinceid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mybatis.pojo.City" >
    update CITY
    set cityID = #{cityid,jdbcType=INTEGER},
      cityName = #{cityname,jdbcType=VARCHAR},
      provinceID = #{provinceid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>