<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.rent.mapper.CredentialsMapper" >
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
    <property name="timeToIdleSeconds" value="3600"/><!--1 hour-->
    <property name="timeToLiveSeconds" value="3600"/><!--1 hour-->
    <property name="maxEntriesLocalHeap" value="1000"/>
    <property name="maxEntriesLocalDisk" value="10000000"/>
    <property name="memoryStoreEvictionPolicy" value="LRU"/>
  </cache>
  <resultMap id="BaseResultMap" type="com.magic.rent.pojo.Credentials" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="NUMBER" property="number" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="ISSUING_AUTHORITY" property="issuingAuthority" jdbcType="VARCHAR" />
    <result column="VALIDITY_DATE" property="validityDate" jdbcType="TIMESTAMP" />
    <result column="VALIDITY" property="validity" jdbcType="TINYINT" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TYPE_ID, NUMBER, ADDRESS, "ISSUING_AUTHORITY", VALIDITY_DATE, VALIDITY, USER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CREDENTIALS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CREDENTIALS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.magic.rent.pojo.Credentials" >
    insert into CREDENTIALS (ID, TYPE_ID, NUMBER, 
      ADDRESS, "ISSUING_AUTHORITY", VALIDITY_DATE,
      VALIDITY, USER_ID)
    values (#{id,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{issuingAuthority,jdbcType=VARCHAR}, #{validityDate,jdbcType=TIMESTAMP}, 
      #{validity,jdbcType=TINYINT}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.magic.rent.pojo.Credentials" >
    insert into CREDENTIALS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="number != null" >
        NUMBER,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="issuingAuthority != null" >
        ISSUING_AUTHORITY,
      </if>
      <if test="validityDate != null" >
        VALIDITY_DATE,
      </if>
      <if test="validity != null" >
        VALIDITY,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="issuingAuthority != null" >
        #{issuingAuthority,jdbcType=VARCHAR},
      </if>
      <if test="validityDate != null" >
        #{validityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validity != null" >
        #{validity,jdbcType=TINYINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.rent.pojo.Credentials" >
    update CREDENTIALS
    <set >
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        NUMBER = #{number,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="issuingAuthority != null" >
        ISSUING_AUTHORITY = #{issuingAuthority,jdbcType=VARCHAR},
      </if>
      <if test="validityDate != null" >
        VALIDITY_DATE = #{validityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validity != null" >
        VALIDITY = #{validity,jdbcType=TINYINT},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.rent.pojo.Credentials" >
    update CREDENTIALS
    set TYPE_ID = #{typeId,jdbcType=INTEGER},
      NUMBER = #{number,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      "ISSUING AUTHORITY" = #{issuingAuthority,jdbcType=VARCHAR},
      VALIDITY_DATE = #{validityDate,jdbcType=TIMESTAMP},
      VALIDITY = #{validity,jdbcType=TINYINT},
      USER_ID = #{userId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>