<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.rent.mapper.HouseRecommendMapper">
    <resultMap id="BaseResultMap" type="com.magic.rent.pojo.HouseRecommend">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="DATE" property="date" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="recommendHouseList" type="com.magic.rent.pojo.HouseRecommend">
        <id column="RECOMMEND_ID" property="id" jdbcType="INTEGER"/>
        <result column="RECOMMEND_DATE" property="date" jdbcType="VARCHAR"/>
        <collection property="houseList" ofType="com.magic.rent.pojo.House"
                    resultMap="com.magic.rent.mapper.HouseMapper.housesList"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, DATE
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from HOUSE_RECOMMEND
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HOUSE_RECOMMEND
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.magic.rent.pojo.HouseRecommend">
    insert into HOUSE_RECOMMEND (ID, DATE)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.magic.rent.pojo.HouseRecommend">
        insert into HOUSE_RECOMMEND
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="date != null">
                DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                #{date,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.magic.rent.pojo.HouseRecommend">
        update HOUSE_RECOMMEND
        <set>
            <if test="date != null">
                DATE = #{date,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.magic.rent.pojo.HouseRecommend">
    update HOUSE_RECOMMEND
    set DATE = #{date,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByRecommendDate" parameterType="com.magic.rent.pojo.HouseRecommend"
            resultMap="recommendHouseList">
        SELECT
        HOUSE_RECOMMEND.ID RECOMMEND_ID,
        HOUSE_RECOMMEND.DATE RECOMMEND_DATE,
        HOUSE.ID,
        HOUSE.NAME,
        HOUSE.EXPECT_RENT,
        COMMUNITY.ID community_ID,
        COMMUNITY.NAME community_Name,
        HOUSE.FLOOR,
        HOUSE.AREA_NUMBER,
        HOUSE.THUMBNAIL_PATH,
        HOUSE_LAYOUT.ID layout_ID,
        HOUSE_LAYOUT.NAME layout_Name,
        DECORATION_TYPE.ID decorationType_ID,
        DECORATION_TYPE.NAME decorationType_Name,
        AREA.areaID,
        AREA.areaName,
        HOUSE.HAVE_KITCKEN,
        HOUSE.HAVE_BALCONY,
        HOUSE_STATUS.ID houseStatus_ID,
        HOUSE_STATUS.STATUS_NAME houseStatus_Name,
        HOUSE.ENABLED,
        PAYMENT.ID payment_ID,
        PAYMENT.PAYMENT_NAME payment_Name,
        RENT_MODE.ID rentMODE_ID,
        RENT_MODE.NAME rentMode_Name
        FROM HOUSE_RECOMMEND_HOUSE
        JOIN HOUSE_RECOMMEND ON HOUSE_RECOMMEND_HOUSE.RECOMMEND_ID = HOUSE_RECOMMEND.ID
        JOIN HOUSE ON HOUSE_RECOMMEND_HOUSE.HOUSE_ID = HOUSE.ID
        JOIN AREA ON HOUSE.AREA_ID = AREA.areaID
        JOIN COMMUNITY ON HOUSE.COMMUNITY_ID = COMMUNITY.ID
        JOIN DECORATION_TYPE ON HOUSE.DECORATION_TYPE_ID = DECORATION_TYPE.ID
        JOIN HOUSE_STATUS ON HOUSE.HOUSE_STATUS_ID = HOUSE_STATUS.ID
        JOIN HOUSE_RENT_MODE ON HOUSE.ID = HOUSE_RENT_MODE.HOUSE_ID
        JOIN RENT_MODE ON HOUSE_RENT_MODE.RENT_MODE_ID = RENT_MODE.ID
        JOIN PAYMENT ON HOUSE.EXPECT_PAYMENT_ID=PAYMENT.ID
        JOIN HOUSE_LAYOUT ON HOUSE.LAYOUT_ID=HOUSE_LAYOUT.ID
        WHERE HOUSE_RECOMMEND.DATE = #{date,jdbcType=VARCHAR}
    </select>

</mapper>