<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.rent.mapper.HouseParameterMapper">
    <select id="getOrientationMap" resultType="java.util.HashMap">
        SELECT
          HOUSE_ORIENTATION.ORIENTATION_KEY,
          HOUSE_ORIENTATION.ORIENTATION_VALUE
        FROM HOUSE_ORIENTATION
    </select>
    <select id="getDecorationMap" resultType="java.util.HashMap">
        SELECT
          HOUSE_DECORATION.DECORATION_KEY,
          HOUSE_DECORATION.DECORATION_VALUE
        FROM HOUSE_DECORATION
    </select>
    <select id="getTypeMap" resultType="java.util.HashMap">
        SELECT
          HOUSE_TYPE.TYPE_KEY,
          HOUSE_TYPE.TYPE_VALUE
        FROM HOUSE_TYPE
    </select>
</mapper>