<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.rent.mapper.HouseFileMapper" >
  <resultMap id="BaseResultMap" type="com.magic.rent.pojo.HouseFile" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="HOUSE_ID" property="houseId" jdbcType="INTEGER" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="VIEW_MODE" property="viewMode" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, HOUSE_ID, FILE_NAME, NICK_NAME, VIEW_MODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from HOUSE_FILE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from HOUSE_FILE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.magic.rent.pojo.HouseFile" >
    insert into HOUSE_FILE (ID, HOUSE_ID, FILE_NAME, 
      NICK_NAME, VIEW_MODE)
    values (#{id,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{viewMode,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.magic.rent.pojo.HouseFile" >
    insert into HOUSE_FILE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="houseId != null" >
        HOUSE_ID,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="viewMode != null" >
        VIEW_MODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="viewMode != null" >
        #{viewMode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.rent.pojo.HouseFile" >
    update HOUSE_FILE
    <set >
      <if test="houseId != null" >
        HOUSE_ID = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="viewMode != null" >
        VIEW_MODE = #{viewMode,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.rent.pojo.HouseFile" >
    update HOUSE_FILE
    set HOUSE_ID = #{houseId,jdbcType=INTEGER},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      VIEW_MODE = #{viewMode,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>