<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.rent.mapper.PaymentMapper" >
  <resultMap id="BaseResultMap" type="com.magic.rent.pojo.Payment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="PAYMENT_NAME" property="paymentName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, PAYMENT_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PAYMENT
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PAYMENT
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.magic.rent.pojo.Payment" >
    insert into PAYMENT (id, PAYMENT_NAME)
    values (#{id,jdbcType=INTEGER}, #{paymentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.magic.rent.pojo.Payment" >
    insert into PAYMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="paymentName != null" >
        PAYMENT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paymentName != null" >
        #{paymentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.rent.pojo.Payment" >
    update PAYMENT
    <set >
      <if test="paymentName != null" >
        PAYMENT_NAME = #{paymentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.rent.pojo.Payment" >
    update PAYMENT
    set PAYMENT_NAME = #{paymentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>