<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.rent.mapper.PersistentLoginsMapper">
  <cache-ref namespace="com.magic.rent.mapper.SysUsersMapper"/>
  <resultMap id="BaseResultMap" type="com.magic.rent.pojo.PersistentLogins">
    <id column="SERIES" jdbcType="VARCHAR" property="series" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="TOKEN" jdbcType="VARCHAR" property="token" />
    <result column="LAST_USED" jdbcType="TIMESTAMP" property="lastUsed" />
  </resultMap>
  <sql id="Base_Column_List">
    SERIES, USERNAME, TOKEN, LAST_USED
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PERSISTENT_LOGINS
    where SERIES = #{series,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PERSISTENT_LOGINS
    where SERIES = #{series,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.magic.rent.pojo.PersistentLogins">
    insert into PERSISTENT_LOGINS (SERIES, USERNAME, TOKEN, 
      LAST_USED)
    values (#{series,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{lastUsed,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.magic.rent.pojo.PersistentLogins">
    insert into PERSISTENT_LOGINS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="series != null">
        SERIES,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="token != null">
        TOKEN,
      </if>
      <if test="lastUsed != null">
        LAST_USED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="series != null">
        #{series,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastUsed != null">
        #{lastUsed,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.rent.pojo.PersistentLogins">
    update PERSISTENT_LOGINS
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastUsed != null">
        LAST_USED = #{lastUsed,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SERIES = #{series,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.rent.pojo.PersistentLogins">
    update PERSISTENT_LOGINS
    set USERNAME = #{username,jdbcType=VARCHAR},
      TOKEN = #{token,jdbcType=VARCHAR},
      LAST_USED = #{lastUsed,jdbcType=TIMESTAMP}
    where SERIES = #{series,jdbcType=VARCHAR}
  </update>
</mapper>