<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.rent.mapper.ProvinceMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
        <property name="timeToIdleSeconds" value="3600"/><!--1 hour-->
        <property name="timeToLiveSeconds" value="3600"/><!--1 hour-->
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>
    <resultMap id="BaseResultMap" type="com.magic.rent.pojo.Province">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="provinceID" property="provinceID" jdbcType="INTEGER"/>
        <result column="provinceName" property="provinceName" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="TINYINT"/>
    </resultMap>
    <resultMap id="province" type="com.magic.rent.pojo.Province">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="provinceID" property="provinceID" jdbcType="INTEGER"/>
        <result column="provinceName" property="provinceName" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, provinceID, provinceName, enable
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from PROVINCE
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PROVINCE
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.magic.rent.pojo.Province">
    insert into PROVINCE (id, provinceID, provinceName, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{provinceID,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR}, 
      #{enable,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.magic.rent.pojo.Province">
        insert into PROVINCE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="provinceID != null">
                provinceID,
            </if>
            <if test="provinceName != null">
                provinceName,
            </if>
            <if test="enable != null">
                enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="provinceID != null">
                #{provinceID,jdbcType=INTEGER},
            </if>
            <if test="provinceName != null">
                #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.magic.rent.pojo.Province">
        update PROVINCE
        <set>
            <if test="provinceID != null">
                provinceID = #{provinceID,jdbcType=INTEGER},
            </if>
            <if test="provinceName != null">
                provinceName = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.magic.rent.pojo.Province">
    update PROVINCE
    set provinceID = #{provinceID,jdbcType=INTEGER},
      provinceName = #{provinceName,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectAllProvince" resultMap="BaseResultMap">
    SELECT PROVINCE.provinceID,PROVINCE.provinceName
    FROM PROVINCE
    WHERE PROVINCE.enable > 0
  </select>
    <resultMap id="All" type="com.magic.rent.pojo.Province">
        <id column="p_ID" property="provinceID" jdbcType="INTEGER"/>
        <result column="p_Name" property="provinceName" jdbcType="VARCHAR"/>
        <collection property="cities" ofType="com.magic.rent.pojo.City">
            <id column="c_ID" property="cityid" jdbcType="INTEGER"/>
            <result column="c_Name" property="cityName" jdbcType="VARCHAR"/>
            <collection property="areas" ofType="com.magic.rent.pojo.Area">
                <id column="a_ID" property="areaid" jdbcType="INTEGER"/>
                <result column="a_Name" property="areaName" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>
    <select id="selectAllAddress" resultMap="All">
        SELECT
          PROVINCE.id           p_ID,
          PROVINCE.provinceName p_Name,
          CITY.cityID           c_ID,
          CITY.cityName         c_Name,
          AREA.areaID           a_ID,
          AREA.areaName         a_Name
        FROM PROVINCE
          JOIN CITY ON PROVINCE.provinceID = CITY.provinceID
          JOIN AREA ON CITY.cityID = AREA.cityID
    </select>
</mapper>