<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.rent.mapper.RoomsMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
        <property name="timeToIdleSeconds" value="3600"/><!--1 hour-->
        <property name="timeToLiveSeconds" value="3600"/><!--1 hour-->
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>
    <resultMap id="BaseResultMap" type="com.magic.rent.pojo.Rooms">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="ROOM_NO" property="roomNo" jdbcType="INTEGER"/>
        <result column="AREA_NUMBER" property="areaNumber" jdbcType="DOUBLE"/>
        <result column="HAVE_WASHROOM" property="haveWashroom" jdbcType="TINYINT"/>
        <result column="HAVE_KITCKEN" property="haveKitcken" jdbcType="TINYINT"/>
        <result column="HOUSE_ID" property="houseId" jdbcType="INTEGER"/>
        <result column="EXPECT_PRICE" property="expectPrice" jdbcType="DOUBLE"/>
        <result column="HOUSE_STATUS_ID" property="houseStatusId" jdbcType="INTEGER"/>
        <result column="HAVE_DESK" property="haveDesk" jdbcType="TINYINT"/>
        <result column="HAVE_WARDROBE" property="haveWardrobe" jdbcType="TINYINT"/>
        <result column="HAVE_AIRCONDITIONING" property="haveAirConditioning" jdbcType="TINYINT"/>
        <result column="HAVE_WATERHEATER" property="haveWaterHeater" jdbcType="TINYINT"/>
        <result column="HAVE_WLAN" property="haveWLAN" jdbcType="TINYINT"/>
    </resultMap>
    <resultMap id="Rooms" type="com.magic.rent.pojo.Rooms">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="ROOM_NO" property="roomNo" jdbcType="INTEGER"/>
        <result column="AREA_NUMBER" property="areaNumber" jdbcType="DOUBLE"/>
        <result column="HAVE_WASHROOM" property="haveWashroom" jdbcType="TINYINT"/>
        <result column="HAVE_KITCKEN" property="haveKitcken" jdbcType="TINYINT"/>
        <result column="HOUSE_ID" property="houseId" jdbcType="INTEGER"/>
        <result column="EXPECT_PRICE" property="expectPrice" jdbcType="DOUBLE"/>
        <result column="HOUSE_STATUS_ID" property="houseStatusId" jdbcType="INTEGER"/>
        <result column="HAVE_DESK" property="haveDesk" jdbcType="TINYINT"/>
        <result column="HAVE_WARDROBE" property="haveWardrobe" jdbcType="TINYINT"/>
        <result column="HAVE_AIRCONDITIONING" property="haveAirConditioning" jdbcType="TINYINT"/>
        <result column="HAVE_WATERHEATER" property="haveWaterHeater" jdbcType="TINYINT"/>
        <result column="HAVE_WLAN" property="haveWLAN" jdbcType="TINYINT"/>
        <association property="houseStatus" resultMap="com.magic.rent.mapper.HouseStatusMapper.houseStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, ROOM_NO, AREA_NUMBER, HAVE_WASHROOM, HAVE_KITCKEN, HOUSE_ID,,EXPECT_PRICE,HAVE_DESK,HAVE_WARDROBE,
      HAVE_AIRCONDITIONING,HAVE_WATERHEATER,HAVE_WLAN
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ROOMS
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ROOMS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.magic.rent.pojo.Rooms">
    insert into ROOMS (ID, ROOM_NO, AREA_NUMBER,
      HAVE_WASHROOM, HAVE_KITCKEN, HOUSE_ID,EXPECT_PRICE,HAVE_DESK,HAVE_WARDROBE,
      HAVE_AIRCONDITIONING,HAVE_WATERHEATER,HAVE_WLAN,
      )
    values (#{id,jdbcType=INTEGER}, #{roomNo,jdbcType=INTEGER}, #{areaNumber,jdbcType=DOUBLE},
      #{haveWashroom,jdbcType=TINYINT}, #{haveKitcken,jdbcType=TINYINT}, #{houseId,jdbcType=INTEGER},#{expectPrice,jdbcType=DOUBLE},
      #{haveDesk,jdbcType=TINYINT}, #{haveWardrobe,jdbcType=TINYINT}, #{haveAirConditioning,jdbcType=TINYINT},
      #{haveWaterHeater,jdbcType=TINYINT},#{haveWLAN,jdbcType=TINYINT},
      )
  </insert>
    <insert id="insertSelective" parameterType="com.magic.rent.pojo.Rooms">
        insert into ROOMS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="roomNo != null">
                ROOM_NO,
            </if>
            <if test="areaNumber != null">
                AREA_NUMBER,
            </if>
            <if test="haveWashroom != null">
                HAVE_WASHROOM,
            </if>
            <if test="haveKitcken != null">
                HAVE_KITCKEN,
            </if>
            <if test="houseId != null">
                HOUSE_ID,
            </if>
            <if test="expectPrice != null">
                EXPECT_PRICE,
            </if>
            <if test="haveDesk != null">
                HAVE_DESK,
            </if>
            <if test="haveWardrobe != null">
                HAVE_WARDROBE,
            </if>
            <if test="haveAirConditioning != null">
                HAVE_AIRCONDITIONING,
            </if>
            <if test="haveWaterHeater != null">
                HAVE_WATERHEATER,
            </if>
            <if test="haveWLAN != null">
                HAVE_WLAN,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roomNo != null">
                #{roomNo,jdbcType=INTEGER},
            </if>
            <if test="areaNumber != null">
                #{areaNumber,jdbcType=DOUBLE},
            </if>
            <if test="haveWashroom != null">
                #{haveWashroom,jdbcType=TINYINT},
            </if>
            <if test="haveKitcken != null">
                #{haveKitcken,jdbcType=TINYINT},
            </if>
            <if test="houseId != null">
                #{houseId,jdbcType=INTEGER},
            </if>
            <if test="expectPrice != null">
                #{expectPrice,jdbcType=DOUBLE},
            </if>
            <if test="haveDesk != null">
                #{haveDesk,jdbcType=TINYINT},
            </if>
            <if test="haveWardrobe != null">
                #{haveWardrobe,jdbcType=TINYINT},
            </if>
            <if test="haveAirConditioning != null">
                #{haveAirConditioning,jdbcType=TINYINT},
            </if>
            <if test="haveWaterHeater != null">
                #{haveWaterHeater,jdbcType=TINYINT},
            </if>
            <if test="haveWLAN != null">
                #{haveWLAN,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.magic.rent.pojo.Rooms">
        update ROOMS
        <set>
            <if test="roomNo != null">
                ROOM_NO = #{roomNo,jdbcType=INTEGER},
            </if>
            <if test="areaNumber != null">
                AREA_NUMBER = #{areaNumber,jdbcType=DOUBLE},
            </if>
            <if test="haveWashroom != null">
                HAVE_WASHROOM = #{haveWashroom,jdbcType=TINYINT},
            </if>
            <if test="haveKitcken != null">
                HAVE_KITCKEN = #{haveKitcken,jdbcType=TINYINT},
            </if>
            <if test="houseId != null">
                HOUSE_ID = #{houseId,jdbcType=INTEGER},
            </if>
            <if test="expectPrice != null">
                EXPECT_PRICE = #{expectPrice,jdbcType=DOUBLE},
            </if>
            <if test="haveDesk != null">
                HAVE_DESK = #{haveDesk,jdbcType=TINYINT},
            </if>
            <if test="haveWardrobe != null">
                HAVE_WARDROBE = #{haveWardrobe,jdbcType=TINYINT},
            </if>
            <if test="haveAirConditioning != null">
                HAVE_AIRCONDITIONING = #{haveAirConditioning,jdbcType=TINYINT},
            </if>
            <if test="haveWaterHeater != null">
                HAVE_WATERHEATER = #{haveWaterHeater,jdbcType=TINYINT},
            </if>
            <if test="haveWLAN != null">
                HAVE_WLAN = #{haveWLAN,jdbcType=TINYINT},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.magic.rent.pojo.Rooms">
    update ROOMS
    set ROOM_NO = #{roomNo,jdbcType=INTEGER},
      AREA_NUMBER = #{areaNumber,jdbcType=DOUBLE},
      HAVE_WASHROOM = #{haveWashroom,jdbcType=TINYINT},
      HAVE_KITCKEN = #{haveKitcken,jdbcType=TINYINT},
      HOUSE_ID = #{houseId,jdbcType=INTEGER},
      EXPECT_PRICE = #{expectPrice,jdbcType=DOUBLE},
      HAVE_DESK = #{haveDesk,jdbcType=TINYINT},
      HAVE_WARDROBE = #{haveWardrobe,jdbcType=TINYINT},
      HAVE_AIRCONDITIONING = #{haveAirConditioning,jdbcType=TINYINT},
      HAVE_WATERHEATER = #{haveWaterHeater,jdbcType=TINYINT},
      HAVE_WLAN = #{haveWLAN,jdbcType=TINYINT},
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByHouseID" parameterType="INTEGER" resultMap="Rooms">
       SELECT
          ROOMS.ID,
          ROOMS.ROOM_NO,
          ROOMS.AREA_NUMBER,
          ROOMS.EXPECT_PRICE,
          ROOMS.HAVE_WASHROOM,
          ROOMS.HAVE_KITCKEN,
          ROOMS.HOUSE_STATUS_ID,
          ROOMS.HAVE_DESK,
          ROOMS.HAVE_AIRCONDITIONING,
          ROOMS.HAVE_WARDROBE,
          ROOMS.HAVE_WATERHEATER,
          ROOMS.HAVE_WLAN,
          HOUSE_STATUS.ID,
          HOUSE_STATUS.STATUS_NAME
          FROM ROOMS
          JOIN HOUSE_STATUS
          ON ROOMS.HOUSE_STATUS_ID = HOUSE_STATUS.ID
       WHERE ROOMS.HOUSE_ID=#{houseID,jdbcType=INTEGER}
    </select>
</mapper>