<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.rent.mapper.SysStoreMapper" >
  <resultMap id="BaseResultMap" type="com.magic.rent.pojo.SysStore" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="COMPANY_ID" property="companyId" jdbcType="INTEGER" />
    <result column="AREA_ID" property="areaId" jdbcType="INTEGER" />
    <result column="STORE_NAME" property="storeName" jdbcType="VARCHAR" />
    <result column="STORE_NUMBER" property="storeNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, COMPANY_ID, AREA_ID, STORE_NAME, STORE_NUMBER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SYS_STORE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SYS_STORE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.magic.rent.pojo.SysStore" >
    insert into SYS_STORE (ID, COMPANY_ID, AREA_ID, 
      STORE_NAME, STORE_NUMBER)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, 
      #{storeName,jdbcType=VARCHAR}, #{storeNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.magic.rent.pojo.SysStore" >
    insert into SYS_STORE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="storeName != null" >
        STORE_NAME,
      </if>
      <if test="storeNumber != null" >
        STORE_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeNumber != null" >
        #{storeNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.rent.pojo.SysStore" >
    update SYS_STORE
    <set >
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        AREA_ID = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        STORE_NAME = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeNumber != null" >
        STORE_NUMBER = #{storeNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.rent.pojo.SysStore" >
    update SYS_STORE
    set COMPANY_ID = #{companyId,jdbcType=INTEGER},
      AREA_ID = #{areaId,jdbcType=INTEGER},
      STORE_NAME = #{storeName,jdbcType=VARCHAR},
      STORE_NUMBER = #{storeNumber,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>