<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.rent.mapper.UserSellerMapper">
    <resultMap id="BaseResultMap" type="com.magic.rent.pojo.UserSeller">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="USER_ID" jdbcType="INTEGER" property="userId"/>
        <result column="STORE_ID" jdbcType="INTEGER" property="storeId"/>
        <result column="SYS_STATUS" jdbcType="INTEGER" property="sysStatus"/>
        <result column="AUDITING_TIME" jdbcType="TIMESTAMP" property="auditingTime"/>
        <result column="OPERATE_TIME" jdbcType="TIMESTAMP" property="operateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    USER_SELLER.ID, USER_SELLER.USER_ID, STORE_ID, SYS_STATUS, AUDITING_TIME, OPERATE_TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from USER_SELLER
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from USER_SELLER
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.magic.rent.pojo.UserSeller">
    insert into USER_SELLER (ID, USER_ID, STORE_ID, 
      SYS_STATUS, AUDITING_TIME, OPERATE_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, 
      #{sysStatus,jdbcType=INTEGER}, #{auditingTime,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.magic.rent.pojo.UserSeller">
        insert into USER_SELLER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="storeId != null">
                STORE_ID,
            </if>
            <if test="sysStatus != null">
                SYS_STATUS,
            </if>
            <if test="auditingTime != null">
                AUDITING_TIME,
            </if>
            <if test="operateTime != null">
                OPERATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=INTEGER},
            </if>
            <if test="sysStatus != null">
                #{sysStatus,jdbcType=INTEGER},
            </if>
            <if test="auditingTime != null">
                #{auditingTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operateTime != null">
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.magic.rent.pojo.UserSeller">
        update USER_SELLER
        <set>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                STORE_ID = #{storeId,jdbcType=INTEGER},
            </if>
            <if test="sysStatus != null">
                SYS_STATUS = #{sysStatus,jdbcType=INTEGER},
            </if>
            <if test="auditingTime != null">
                AUDITING_TIME = #{auditingTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operateTime != null">
                OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.magic.rent.pojo.UserSeller">
    update USER_SELLER
    set USER_ID = #{userId,jdbcType=INTEGER},
      STORE_ID = #{storeId,jdbcType=INTEGER},
      SYS_STATUS = #{sysStatus,jdbcType=INTEGER},
      AUDITING_TIME = #{auditingTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <resultMap id="sellerDetail" type="com.magic.rent.pojo.UserSeller" extends="BaseResultMap">
        <association property="user" javaType="com.magic.rent.pojo.SysUsers">
            <id column="userID" property="userId" jdbcType="INTEGER"/>
            <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
            <result column="NAME" property="name" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <select id="selectBySelective" parameterType="com.magic.rent.pojo.Store" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>,
        SYS_USERS.USER_ID userID,
        SYS_USERS.NAME,
        SYS_USERS.USERNAME
        from USER_SELLER
        JOIN SYS_USERS ON USER_SELLER.USER_ID = SYS_USERS.USER_ID
        <where>
            <if test="userId != null">
                AND USER_SELLER.USER_ID = #{userId,jdbcType=INTEGER}
            </if>
            <if test="storeId != null">
                AND STORE_ID = #{storeId,jdbcType=INTEGER}
            </if>
            <if test="sysStatus != null">
                AND SYS_STATUS = #{sysStatus,jdbcType=INTEGER}
            </if>
            <if test="auditingTime != null">
                AND AUDITING_TIME = #{auditingTime,jdbcType=TIMESTAMP}
            </if>
            <if test="operateTime != null">
                AND OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>