<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.rent.mapper.UserSellerMapper" >
  <resultMap id="BaseResultMap" type="com.magic.rent.pojo.UserSeller" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="ROLES_ID" property="rolesId" jdbcType="INTEGER" />
    <result column="COMPANY_ID" property="companyId" jdbcType="INTEGER" />
    <result column="STORE_ID" property="storeId" jdbcType="INTEGER" />
    <result column="ENABLED" property="enabled" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, ROLES_ID, COMPANY_ID, STORE_ID, ENABLED
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from USER_SELLER
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from USER_SELLER
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.magic.rent.pojo.UserSeller" >
    insert into USER_SELLER (ID, USER_ID, ROLES_ID, 
      COMPANY_ID, STORE_ID, ENABLED
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{rolesId,jdbcType=INTEGER}, 
      #{companyId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{enabled,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.magic.rent.pojo.UserSeller" >
    insert into USER_SELLER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="rolesId != null" >
        ROLES_ID,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="storeId != null" >
        STORE_ID,
      </if>
      <if test="enabled != null" >
        ENABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="rolesId != null" >
        #{rolesId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.rent.pojo.UserSeller" >
    update USER_SELLER
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="rolesId != null" >
        ROLES_ID = #{rolesId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        STORE_ID = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        ENABLED = #{enabled,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.rent.pojo.UserSeller" >
    update USER_SELLER
    set USER_ID = #{userId,jdbcType=INTEGER},
      ROLES_ID = #{rolesId,jdbcType=INTEGER},
      COMPANY_ID = #{companyId,jdbcType=INTEGER},
      STORE_ID = #{storeId,jdbcType=INTEGER},
      ENABLED = #{enabled,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>