<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.showings.lottery.mapper.UserStatusMapper" >
  <resultMap id="BaseResultMap" type="cn.com.showings.lottery.pojo.UserStatus" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="STATUS_NAME" property="statusName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, STATUS_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from USER_STATUS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from USER_STATUS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.showings.lottery.pojo.UserStatus" >
    insert into USER_STATUS (ID, STATUS_NAME)
    values (#{id,jdbcType=INTEGER}, #{statusName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.showings.lottery.pojo.UserStatus" >
    insert into USER_STATUS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="statusName != null" >
        STATUS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.showings.lottery.pojo.UserStatus" >
    update USER_STATUS
    <set >
      <if test="statusName != null" >
        STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.showings.lottery.pojo.UserStatus" >
    update USER_STATUS
    set STATUS_NAME = #{statusName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>