<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.rent.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.magic.rent.pojo.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <association property="idInfo" javaType="com.magic.rent.pojo.IDInfo"
                     resultMap="com.magic.rent.mapper.IDInfoMapper.BaseResultMap"/>
    </resultMap>
    <select id="selectBySelective" parameterType="com.magic.rent.pojo.User" resultMap="BaseResultMap">
        SELECT
        TB_USER.id,
        TB_USER.userName,
        TB_USER.sex,
        TB_USER.job,
        TB_USER.email,
        TB_USER.phone,
        TB_ID_TYPE.typeName,
        TB_ID_INFO.number,
        TB_ID_INFO.validity,
        TB_ID_INFO.issuer
        FROM TB_USER JOIN TB_ID_INFO ON TB_USER.IDInfo_id=TB_ID_INFO.id JOIN TB_ID_TYPE ON TB_ID_INFO.IDType_id =
        TB_ID_TYPE.id
        <where>
            <if test="id != null and id !=''">
                AND TB_USER.id = #{id}
            </if>
            <if test="userName !=null and userName !=''">
                AND TB_USER.userName=#{userName}
            </if>
            <if test="password !=null and password !=''">
                AND TB_USER.password=#{password}
            </if>
            <if test="sex != null and sex != ''">
                AND TB_USER.sex=#{sex}
            </if>
            <if test="job !=null and job !=''">
                AND TB_USER.job=#{job}
            </if>
            <if test="email != null and email != ''">
                AND TB_USER.email=#{email}
            </if>
            <if test="phone != null and phone !=''">
                AND TB_USER.phone=#{phone}
            </if>
        </where>
        ORDER BY TB_USER.id
    </select>
</mapper>